<!DOCTYPE html>
<html lang="bg">

<head>
    <title>Centrofuga!</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <link rel="stylesheet" href="/public/bootstrap/bootstrap.css" media="screen">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Умна пералня!</h1>
            <p>Управлявайте пералнята си през този уеб интерфейс!</p>
            <p><a class="btn btn-primary btn-lg">Научи повече</a></p>
        </div>
        <div class="col-lg-offset-3 col-lg-4">
            <form method="post" action="/login" class="form-horizontal">
                <fieldset>
                    <legend>Вход</legend>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input class="form-control" value="{{userNameLogin}}" id="inputUser" placeholder="Потребителско име" title="Потребителско име" type="text" name="userNameLogin">
                            <p class="text-danger">{{userNameLoginError}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input class="form-control" id="inputPassword" placeholder="Парола" title="Парола" type="password" name="passwordLogin">
                            <p class="text-danger">{{passwordLoginError}}</p>
                        </div>
                    </div>
                    <p class="text-danger">{{generalError}}</p>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <button type="submit" class="btn btn-primary">Влез</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script src="../public/bootstrap/jquery-1.js"></script>
    <script src="/public/jquery-migrate.js"></script>
    <script src="../public/bootstrap/bootstrap.js"></script>
    <script src="/public/bootstrap/bootstrap-modal.js"></script>
    <script src="/public/bootstrap/bootswatch.js"></script>
</body>

</html>